# Local .terraform directories
**/.terraform*
*.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# invetaire d'ansible
./ansible/inventaire.ini

# others files
*.save



# Admin ssh key
./ssh_keys/azureuser

