# Local .terraform directories
**/.terraform*
*.terraform*

# .tfstate files
*.tfstate
*.tfstate.*

# invetaire d'ansible
inventaire.ini

# Certificates
cert.pfx
certbot

# others files
*.save

# Admin ssh key
azureuser
